.form-contest {
  padding-top: 45px;
}

.form-contest__item {
  padding: 0;
  margin: 0 0 25px;
  border: none;

  &--contacts {
    padding-top: 7px;
  }
}

.form-contest__box {
  margin-bottom: 18px;
}

.form-contest__label {
  padding-left: 22px;
  display: inline-block;
  padding-bottom: 5px;
}

.form-contest__placeholder {
  min-width: 280px;
  padding: 14px 20px;
  border: 2px solid $special-grey-border;
  border-radius: 1px;

  font-size: 18px;
  text-transform: initial;
  color: $c-main;

  &::placeholder {
    color: $c-main;
  }
}

.form-contest__btn {
  min-width: 280px;
  margin-bottom: 35px;
  padding: 14px 20px;
  border: 2px solid $special-green-btn;
  border-radius: 1px;
  line-height: 30px;
  text-transform: uppercase;
  background-color: $special-green-btn;
}

.form-contest__legend {
  display: flex;
  justify-content: center;
  color: $c-main;
}

.form-contest__legend-star {
  color: $base-pink;
}

@media (min-width: $tablet-width) {
  .form-contest__form {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
  }

  .form-contest__item {
    margin-bottom: 50px;

    &:first-child {
      order: -3;
      border: none;
    }

    &:not(:first-child) {
      border: 2px solid $special-grey-border;
      padding: 50px 60px 0;
      margin: 0 20px 40px 20px;
    }

    &--contacts {
      order: -1;
    }
  }

  .form-contest__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
  }

  .form-contest__placeholder {
    width: 100%;
  }

  .form-contest__label {
    padding-right: 20px;
  }

  .form-contest__item:first-child .form-contest__label {
    padding-left: 0;
  }

  .form-contest__item--contacts .form-contest__box {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .form-contest__btn {
    margin-bottom: 0;
  }
}
