.form-textwrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-text__title {
  padding-top: 14px;
  padding-bottom: 17px;
}

.form-text__textarea {
  width: 100%;
  margin-bottom: 41px;
  padding: 14px 21px;
  min-height: 202px;
  resize: none;
  white-space: pre-line;
}

@media (min-width: $tablet-width) {
  .form-text__textarea {
    min-height: 193px;
    margin-top: 22px;
    margin-bottom: 31px;
    padding: 14px 18px;
  }

  .form-text__title {
    padding: 14px 38px;
  }

  .form-textwrap {
    grid-column: 1/3;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

@media (min-width: $desktop-width) {
  .form-text__textarea {
    margin-top: 20px;
    padding: 12px 20px;
    min-height: 125px;
    margin-bottom: 38px;
  }

  .form-text {
    grid-column: 1/3;
  }
}
