.intro {
  position: relative;
  top: 0;
  background: url("../img/bg-back-mobile@1x.jpg") no-repeat center;
  background-position: top;
  background-size: cover;

  &--pdb-49 {
    padding-top: 62px;
    padding-bottom: 49px;
  }

  &--pdb-15 {
    padding-bottom: 15px;
  }

  &--bottom-js {
    position: relative;
    top: 220px;
    padding-top: 38px;
  }
}

.intro__inner {
  padding-top: 84px;
}

.intro__title {
  margin: 0;
  padding-bottom: 30px;

  &--lh-33 {
    padding-top: 100px;
    line-height: 33px;
  }
}

.intro__box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro__img-mobile {
  position: relative;
  top: 0;
  left: -31px;
}

.intro__img-tablet,
.intro__img-desktop {
  display: none;
}

.intro__install {
  min-height: auto;
  padding-top: 28px;
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: $dark-grey;
}

.intro__btn {
  min-width: 280px;
  margin-bottom: 31px;
}

.intro__icon {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 13px;
}

.intro__link:not(:last-child) {
  margin-right: 35px;
}

.intro__link:nth-child(3) {
  padding-top: 10px;
}

.intro__text {
  margin: 0;
  padding: 0 20px;
  padding-bottom: 32px;

  font-family: $ff-main;
  font-size: $fz-main;
  font-weight: 300;
  line-height: 24px;
  color: $basic-white;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .intro {
    background: url("../img/bg-back-tablet@1x.jpg") no-repeat;
    background-position: top;
  }

  .intro__inner {
    padding: 0 10px;
  }

  .intro__wrapper {
    display: flex;
    height: 729px;
    padding-top: 160px;
  }

  .intro__title {
    padding: 36px 0 0 16px;

    font-size: 40px;
    line-height: 48px;
  }

  .intro__img-mobile,
  .intro__img-desktop {
    display: none;
  }

  .intro__img-tablet {
    display: block;
    position: relative;
    top: 0;
    left: -31px;
  }

  .intro__install {
    width: 310px;
    padding-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 355px;
    left: 0;
    background-color: transparent;
  }

  .intro__title--lh-33 {
    padding: 180px 60px 90px;
  }

  .intro__text {
    padding: 0;
    font-size: 18px;
  }
}

@media (min-width: $desktop-width) {
  .intro {
    background: url("../img/bg-back-desktop@1x.jpg") no-repeat;
    background-position: 50% 0;

    &--pdb-49 {
      padding-top: 111px;
      padding-bottom: 120px;
    }

    &--pdb-15 {
      padding-top: 111px;
      padding-bottom: 120px;
    }
  }

  .intro__title {
    padding: 36px 0 0 30px;
  }

  .intro__title--lh-33 {
    margin-top: 0;
    padding: 185px 60px 80px;
    font-size: 50px;
    line-height: 68px;
  }

  .intro__install {
    margin-left: 100px;
  }

  .intro__img-mobile,
  .intro__img-tablet {
    display: none;
  }

  .intro__img-desktop {
    display: block;
  }
}
