.intro {
  position: relative;
  top: 0;
  background: $c-main url("../img/bg-back-mobile@1x.jpg") no-repeat center 1px;
  background-size: 100%;

  @media (min-resolution: 2dppx) {
    background-image: $c-main url("../img/bg-back-mobile@2x.jpg");
    background-size: contain;
  }

  &--pdb-49 {
    padding-top: 94px;
    padding-bottom: 49px;
    background-size: cover;
  }

  &--pdb-15 {
    padding-top: 94px;
    padding-bottom: 14px;
    background-size: cover;
  }
}

.intro__box-wrapper {
  padding-top: 89px;
}

.intro__inner img {
  margin: 0 auto;
  position: relative;
  left: -31px;
}

.intro__box-title {
  margin: 0;
  padding-bottom: 29px;

  &--lh-33 {
    line-height: 33px;
  }
}

.intro__box-title br {
  display: none;
  font-size: 0;
  line-height: 0;
}

.intro__box--bcground {
  background-color: $dark-grey;
}

.intro__box-install {
  padding-top: 28px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro__box-btn {
  min-width: 280px;
  margin-bottom: 32px;

  &:hover {
    background-color: $basic-white;
    color: $base-pink;
  }

  &:active {
    background-color: $basic-white;
    color: $base-pink-opacity;
  }
}

.intro__box-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 14px;
}


.intro__link {
  &:not(:last-child) {
    margin-right: 35px;
  }

  &:nth-child(3) {
    padding-top: 10px;
  }
}

.intro__box-text {
  margin: 0;
  padding: 0 20px 30px;

  font-family: $ff-main;
  font-size: $fz-main;
  font-weight: 300;
  line-height: 24px;
  color: $basic-white;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .intro {
    background: $c-main url("../img/bg-back-tablet@1x.jpg") no-repeat;
    background-position: top;
    overflow: hidden;
    height: 729px;

    @media (min-resolution: 2dppx) {
      background-image: $c-main url("../img/bg-back-tablet@2x.jpg") no-repeat;
      background-position: top;
      overflow: hidden;
    }

    &--pdb-49 {
      padding-top: 94px;
      height: 440px;
    }

    &--pdb-15 {
      height: auto;
      padding-top: 157px;
      padding-bottom: 39px;
      background-size: auto;
    }
  }

  .intro__box:last-child {
    background-color: transparent;
  }

  .intro__box-wrapper {
    padding-top: 183px;
  }

  .intro__box-title {
    display: inline-block;
    font-size: 40px;
    line-height: 48px;
    padding: 20px 55px;
  }

  .intro__box-title--lh-33 {
    margin: 0 auto;
    display: inherit;
    font-size: 50px;
    line-height: 68px;
  }

  .intro__box-title--pt100 {
    padding: 83px 55px 79px;
  }

  .intro__box-title br {
    display: block;
  }

  .intro__inner {
    position: absolute;
    top: 185px;
    left: 10px;
    width: 700px;
  }

  .intro__inner img {
    width: 100%;
    height: auto;
  }

  .intro__box-install {
    width: 300px;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 100;
    background-color: transparent;
  }

  .intro__box-btn {
    min-width: 300px;
    margin-bottom: 45px;
  }

  .intro__box-icon {
    margin-bottom: 25px;
  }

  .intro__box-text {
    padding: 0;
    font-size: 18px;
  }
}

@media (min-width: $desktop-width) {
  .intro {
    background: $c-main url("../img/bg-back-desktop@1x.jpg") no-repeat;
    background-position: 50% 0;
    height: 853px;

    @media (min-resolution: 2dppx) {
      background: $c-main url("../img/bg-back-desktop@2x.jpg") no-repeat;
      background-position: 49% 0%;
      background-size: 221%;
    }

    &--pdb-49 {
      height: 395px;
      padding-top: 169px;
      padding-bottom: 90px;
      display: flex;
      justify-content: center;
    }

    &--pdb-15 {
      height: 395px;
      padding-top: 169px;
      padding-bottom: 89px;
    }
  }

  .intro__box-wrapper {
    padding-top: 210px;
  }

  .intro__box-title {
    font-size: 50px;
    line-height: 68px;
    padding: 0 30px;
  }

  .intro__inner {
    position: absolute;
    top: 208px;
    left: 178px;
    width: 1050px;
  }

  .intro__inner img {
    width: 100%;
    height: auto;
  }

  .intro__box-install {
    padding-top: 36px;
  }

  .intro__box-btn {
    font-size: 21px;
    margin-bottom: 67px;
  }

  .intro__box-icon {
    margin-bottom: 45px;
  }

  .intro__box-title--lh-33 {
    margin-top: 0;
    font-size: 50px;
    line-height: 68px;
  }
}
