.map {
  position: relative;
  display: flex;
  justify-content: center;
}

.map__img::before {
  content: "";
  display: block;
  position: absolute;
  top: 47.5%;
  left: 44.5%;
  width: 36px;
  height: 36px;
  background-color: $basic-white;
  border-radius: 50%;
}

.map__img::after {
  content: "";
  display: block;
  position: absolute;
  top: 52.5%;
  left: 47.5%;
  width: 16px;
  height: 16px;
  background-color: $base-pink;
  border-radius: 50%;
}

.map__img {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

.map__img-picture {
  width: 100%;
  height: auto;
}

.map__triangle {
  position: absolute;
  width: 100%;
  height: auto;
  z-index: 1000;
}

@media (min-width: $tablet-width) {
  .map__img::before {
    top: 52%;
    left: 47.5%;
  }

  .map__img::after {
    top: 54.5%;
    left: 49%;
  }
}

@media (min-width: $desktop-width) {
  .map__img::before {
    top: 52.5%;
    left: 48.5%;
  }

  .map__img::after {
    top: 54.5%;
    left: 49.5%;
  }
}
