.map {
  position: relative;
}

.map__img {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

.map__img-picture {
  width: 100%;
  height: auto;
  display: none;
}

.map iframe {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
}

.map__triangle {
  position: absolute;
  top: -2px;
  width: 100%;
  height: auto;
  z-index: 1000;
}

@media (min-width: $tablet-width) {
  .map iframe {
    height: 375px;
  }
}

@media (min-width: $desktop-width) {
  .map iframe {
    height: 502px;
  }
}
