.offer {
  padding-top: 40px;
  padding-bottom: 35px;
  background-color: $basic-white;

  &--pad {
    padding-bottom: 48px;
  }
}

.offer__title {
  margin: 0;
  padding: 0;
  color: $c-main;
}

.offer__wrap-title .offer__title:first-child {
  margin-bottom: 28px;
}

.offer__text {
  margin: 0;
  padding: 3px 15px;
  font-family: $ff-main;
  font-size: $fz-main;
  line-height: 30px;
  font-weight: 400;
  text-align: center;
  color: $c-main;

  &--pad {
    padding: 6px 0 0;
  }
}

.offer__text-mobile {
  margin: 0;
}

.offer__text-tablet {
  display: none;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .offer {
    padding-bottom: 30px;

    &--pad {
      padding-top: 88px;
      padding-bottom: 74px;
    }

    &--pad-top {
      padding: 88px 0 69px;
    }
  }

  .offer__wrap-title {
    padding-top: 7px;
  }

  .offer__wrap-title .offer__title:first-child {
    margin-bottom: 0;
  }

  .offer__text {
    font-size: 18px;
    padding: 3px 30px;
  }

  .offer__text br {
    display: none;
  }

  .offer__text-tablet {
    display: block;
  }
}

@media (min-width: $desktop-width) {
  .offer {
    padding-top: 42px;
    padding-bottom: 43px;

    &--pad,
    &--pad-top {
      padding-top: 87px;
      padding-bottom: 85px;
    }

    &--pad-top {
      padding-bottom: 69px;
    }
  }

  .offer__wrap-title {
    padding-top: 21px;
  }

  .offer__text br {
    display: block;
    font-size: 0;
    line-height: 0;
  }

  .offer__text-tablet {
    display: inline-block;
  }

  .offer__text--pad {
    padding: 3px 90px;
  }
}
