.offer {
  padding-top: 41px;
  padding-bottom: 47px;
  position: relative;
  background-color: $basic-white;

  &--height {
    height: 250px;
  }
}

.offer__title {
  color: $c-main;
}

.offer__box {
  width: 320px;
  position: absolute;
  top: 180px;
  left: 0;
}

.offer__svg {
  fill: #ffffff;
}

.offer__text {
  margin: 0;
  padding: 3px 0;
  font-family: $ff-main;
  font-size: $fz-main;
  line-height: 30px;
  font-weight: 400;
  text-align: center;
}
