.price {
  margin-bottom: 40px;
  padding-bottom: 47px;
  background-color: $grey-background;

  position: relative;
}

.price__table-wrap {
  width: 100%;
  margin: 0 auto;
}

.price__table {
  width: 837px;
  margin-bottom: 44px;
  margin-top: 72px;
  border-collapse: collapse;
  overflow-x: hidden;
}

.price__header {
  height: 90px;
  padding-top: 12px;
  padding-bottom: 25px;

  font-family: $ff-main;
  font-size: 16px;
  line-height: 30px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: $basic-white;
}

.price__header:not(:last-child) {
  border-right: 2px solid $grey-background;
}

.price__header:not(:first-child) {
  background-color: $c-main;
}

.price__header-value {
  font-size: 18px;
  font-weight: 300;
}

.price__table-body {
  background-color: $basic-white;
}

.price__filter {
  width: 280px;
  height: 59px;
  padding-top: 4px;
  padding-left: 20px;
  border: 2px solid $grey-background;
  position: relative;

  font-family: $ff-main;
  font-size: $fz-main;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: left;
}

.price__table-box:first-child .price__filter {
  border-top: none;
}

.price__table-svg {
  position: absolute;

  &--yes {
    top: 18px;
    right: 18px;
    width: 31px;
    height: 21px;
    fill: $base-green;
  }

  &--no {
    top: 16px;
    right: 20px;
    width: 27px;
    height: 27px;
    fill: $base-red;
  }
}

.price__filter:first-child,
.price__header:first-child {
  display: none;
}

.price__triangle {
  position: relative;
  width: 100%;
  height: auto;
}

.price__filter-name {
  margin: 0;
}

@media (min-width: $tablet-width) {
  .price {
    padding-bottom: 65px;
    margin-bottom: 45px;
  }

  .price__table {
    width: 619px;
    margin-bottom: 0;
    margin-top: 45px;
    margin-left: 20px;
  }

  .price__header {
    height: 80px;
    padding-top: 5px;
    padding-bottom: 0;
  }

  .price__filter-name {
    display: none;
  }

  .price__filter,
  .price__header {
    width: 152px;
  }

  .price__filter {
    height: 47px;
    padding-top: 0;
    padding-left: 15px;
    text-transform: none;
  }

  .price__filter:first-child,
  .price__header:first-child {
    display: table-cell;
  }

  .price__toggles {
    display: none;
  }

  .price__table-svg {
    position: absolute;

    &--yes {
      right: 60px;
      top: 10px;
    }

    &--no {
      right: 61px;
      top: 8px;
    }
  }
}

@media (min-width: $desktop-width) {
  .price {
    margin-bottom: 60px;
    padding-bottom: 95px;
  }
  
  .price__table {
    width: 940px;
    margin: 0 auto;
    margin-top: 53px;
  }

  .price__header {
    height: 98px;
    padding-top: 0;
    font-size: 18px;
  }

  .price__filter,
  .price__header {
    width: 233px;
  }

  .price__header-value {
    font-size: 24px;
  }

  .price__filter {
    height: 61px;
    padding-top: 5px;
    padding-left: 21px;
    font-size: 18px;
  }

  .price__table-svg {
    position: absolute;

    &--yes {
      top: 20px;
      right: 100px;
    }

    &--no {
      top: 18px;
      right: 103px;
    }
  }
}
