.price {
  margin-bottom: 40px;
  padding-top: 105px;
  padding-bottom: 47px;
  background-color: $grey-background;

  overflow-x: hidden;
  position: relative;
}

.price__table-wrap {
  width: 100%;
  margin: 0 auto;
}

.price__table {
  width: 837px;
  border-collapse: collapse;
  overflow-x: auto;
  margin-bottom: 40px;
}

.price__table-head {
  background-color: $c-main;
}

.price__table-box {
  height: 61px;
}

.price__header {
  padding-top: 12px;
  padding-bottom: 25px;

  font-family: $ff-main;
  font-size: 16px;
  line-height: 30px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: $basic-white;
}

.price__header:not(:last-child) {
  border-right: 2px solid $grey-background;
}

.price__header-value {
  font-size: 18px;
  font-weight: 300;
}

.price__table-body {
  background-color: $basic-white;
}

.price__filter {
  width: 280px;
  padding-top: 0;
  padding-left: 20px;
  border: 2px solid $grey-background;
  position: relative;

  font-family: $ff-main;
  font-size: $fz-main;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: left;
}

.price__table-box:first-child .price__filter {
  border-top: none;
}

.price__table-svg {
  position: absolute;

  &--yes {
    top: 18px;
    right: 18px;
    width: 31px;
    height: 21px;
    fill: $base-green;
  }

  &--no {
    top: 16px;
    right: 20px;
    width: 27px;
    height: 27px;
    fill: $base-red;
  }
}

.price__filter:first-child,
.price__header:first-child {
  display: none;
}

.price__triangle {
  position: relative;
}

.price__triangle-svg {
  position: absolute;
  top: -140px;
  right: 0;
}
