.progress__title,
.form-text__title {
  margin: 0;
  padding: 38px 20px 42px 20px;
  text-align: center;
  line-height: 18px;

  &--padd-39 {
    padding-bottom: 39px;
  }
}

.progress__title--display {
  display: none;
}

.progress__text {
  display: inline-block;
  position: relative;
  font-size: 18px;
  line-height: 30px;
  text-transform: initial;
  color: $c-main;
}

.progress__text--checkbox {
  padding-left: 58px;
}

.progress__text--radio {
  padding-left: 70px;
}

.progress__item {
  position: relative;
}

.checkbox-wrap {
  padding-bottom: 52px;

  &:last-child {
    padding-bottom: 47px;
  }
}

.radio-wrap {
  padding-bottom: 45px;
}

.progress__text--checkbox::before,
.progress__text--radio::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  border: 2px solid $special-grey-border;
  background-color: $basic-white;
}

.progress__text--checkbox::before {
  width: 39px;
  height: 39px;
  top: -4px;
}

.progress__text--radio::before {
  content: "";
  width: 40px;
  height: 41px;
  top: -5px;
  border-radius: 50%;
}

.progress__text--checkbox::after,
.progress__text--radio::after {
  content: "";
  position: absolute;
  display: block;
}

.progress__text--checkbox::after {
  width: 22px;
  height: 10px;
  top: 7px;
  left: 9px;
}

.progress__text--radio::after {
  width: 15px;
  height: 15px;
  top: 8px;
  left: 12px;
}

.progress__checkbox:checked + .progress__text--checkbox::after {
  border-left: 2px solid $base-pink;
  border-bottom: 2px solid $base-pink;
  transform: rotate(-44deg);
}

.progress__radio:checked + .progress__text--radio::after {
  background-color: $base-pink;
  border-radius: 50%;
}

@media (min-width: $tablet-width) {
  .progress {
    background-color: $basic-white;
    padding: 50px 60px;
  }

  .progress__list {
    padding-top: 50px;
  }

  .fieldset--grey .progress--1 {
    margin-bottom: 45px;
  }

  .progress--2 {
    order: -2;
  }

  .progress__title {
    padding: 0 25px;
  }

  .progress__title br {
    display: none;
  }

  .progress__title--display {
    display: inline-block;
    vertical-align: middle;
  }

  .checkbox-wrap:last-child {
    padding-bottom: 38px;
  }

  .progress__text--radio {
    padding-left: 59px;
  }
}

@media (min-width: $desktop-width) {
  .progress {
    grid-column: 1/3;
  }

  .progress--order {
    grid-column: 2/3;
    width: 462px;
  }

  .progress__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 5px;
  }

  .progress__title {
    padding: 0 32px;
  }

  .progress__title--padd-39 {
    padding: 0 17px;
  }

  .radio-wrap {
    padding-left: 15px;
  }

  .checkbox-wrap {
    width: 31%;
    margin-right: -2%;
    // padding-bottom: 20px;

    &:nth-child(1) {
      order: -2;
    }

    &:nth-child(2) {
      order: 1;
    }

    &:nth-child(3) {
      order: -1;
    }

    &:nth-child(4) {
      order: 2;
    }

    &:nth-child(5) {
      order: 0;
    }

    &:nth-child(6) {
      order: 3;
    }
  }
}
