.reviews {
  padding-top: 41px;
  padding-bottom: 34px;
}

.reviews__list {
  margin-bottom: 30px;
}

.reviews__title {
  margin: 0;
  padding-bottom: 13px;

  line-height: 30px;
}

.reviews__text {
  margin: 0;
  font-family: $ff-main;
  font-size: $fz-main;
  line-height: 30px;
  color: $c-main;
  text-align: center;
}

.reviews__toggles {
  bottom: -43px;
}
