.reviews {
  padding-top: 40px;
  padding-bottom: 34px;
}

.reviews__list {
  margin-bottom: 30px;
}

.reviews__title {
  margin: 0;
  padding-bottom: 13px;

  line-height: 30px;
}

.reviews__text {
  margin: 0;
  font-family: $ff-main;
  font-size: $fz-main;
  line-height: 30px;
  color: $c-main;
  text-align: center;
}

.reviews__toggles {
  bottom: -43px;
}

.reviews__description {
  display: none;
}

@media (min-width: $tablet-width) {
  .reviews {
    padding-top: 0;
    padding-bottom: 10px;
  }

  .reviews__list {
    margin-bottom: 35px;
  }

  .reviews__text {
    font-size: 18px;
    padding-bottom: 35px;
  }

  .reviews__title {
    font-size: 20px;
    padding-bottom: 0;
  }

  .reviews__item {
    display: flex;
    flex-direction: column;
  }

  .reviews__title-wrap {
    order: 1;
  }

  .reviews__description {
    display: block;
    margin: 0;
    font-family: $ff-main;
    font-size: $fz-main;
    line-height: 30px;
    color: $c-main;
    text-align: center;
  }
}

@media (min-width: $desktop-width) {
  .reviews {
    padding-top: 183px;
    padding-bottom: 0;
  }

  .reviews__title {
    font-size: 24px;
  }

  .reviews__description {
    font-size: 18px;
  }

  .reviews__text {
    display: inline-block;
    width: 688px;
    margin: 0 auto;
  }
}
