* {
  margin: 0;
  padding: 0;
}

.slideshow-wrap {
  display: block;
  height: 242px;
  min-width: 320px;
  max-width: 940px;
  margin: auto;
  position: relative;
  padding: 0 20px;
}

.slideshow-inner {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.slider1,
.slider2 {
  list-style: none;
  height: 100%;
  width: 500%;
  overflow: hidden;
  position: relative;
  left: 0;
  display: flex;
  transition: left 0.8s cubic-bezier(0.77, 0, 0.175, 1);
}

.slides {
  width: 20%;
  height: 200px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.slideshow-wrap input[type="radio"] {
  position: absolute;
  left: 50%;
  bottom: 15px;
  z-index: 100;
  visibility: hidden;
}

.slideshow-wrap label:not(.arrows) {
  position: absolute;
  left: 50%;
  bottom: -20px;
  z-index: 100;
  width: 6px;
  height: 6px;
  background-color: $c-main-toggle;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.2s;
}

.slideshow-wrap label:not(.arrows):active {
  bottom: -23px;
}

.slideshow-wrap input[type="radio"]#button-1:checked ~ label[for="button-1"]:not(.arrows) {
  width: 12px;
  height: 12px;
  background-color: transparent;
  border: 3px solid $c-main;
  bottom: -23px;
}

.slideshow-wrap input[type="radio"]#button-2:checked ~ label[for="button-2"]:not(.arrows) {
  width: 12px;
  height: 12px;
  background-color: transparent;
  border: 3px solid $c-main;
  bottom: -23px;
  margin-left: -6px;
}

.slideshow-wrap input[type="radio"]#button-3:checked ~ label[for="button-3"]:not(.arrows) {
  width: 12px;
  height: 12px;
  background-color: transparent;
  border: 3px solid $c-main;
  bottom: -23px;
}

.slideshow-wrap input[type="radio"]#button-4:checked ~ label[for="button-4"] {
  width: 12px;
  height: 12px;
  background-color: transparent;
  border: 3px solid $c-main;
  bottom: 0;
}

.slideshow-wrap input[type="radio"]#button-5:checked ~ label[for="button-5"] {
  width: 12px;
  height: 12px;
  background-color: transparent;
  border: 3px solid $c-main;
  bottom: 0;
  margin-left: -6px;
}

.slideshow-wrap input[type="radio"]#button-6:checked ~ label[for="button-6"] {
  width: 12px;
  height: 12px;
  background-color: transparent;
  border: 3px solid $c-main;
  bottom: 0;
}

// .button-active~label[for=button-5] {
//   width: 12px;
//   height: 12px;
//   background-color: transparent;
//   border: 3px solid $c-main;
//   bottom: 0;
// }

.slideshow-wrap label[for="button-1"]:not(.arrows) {
  margin-left: -30px;
}

.slideshow-wrap label[for="button-2"]:not(.arrows) {
  margin-left: 0;
}

.slideshow-wrap label[for="button-3"]:not(.arrows) {
  margin-left: 23px;
}

.slideshow-wrap label[for="button-4"]:not(.arrows) {
  margin-left: -30px;
}

.slideshow-wrap label[for="button-5"]:not(.arrows) {
  margin-left: 0;
}

.slideshow-wrap label[for="button-6"]:not(.arrows) {
  margin-left: 23px;
}

.slideshow-wrap input[type="radio"]#button-1:checked ~ .slideshow-inner > .slider1 {
  left: 0;
}

.slideshow-wrap input[type="radio"]#button-2:checked ~ .slideshow-inner > .slider1 {
  left: -100%;
}

.slideshow-wrap input[type="radio"]#button-3:checked ~ .slideshow-inner > .slider1 {
  left: -200%;
}

.slideshow-wrap input[type="radio"]#button-4:checked ~ .slideshow-inner > .slider2 {
  left: 0;
}

.slideshow-wrap input[type="radio"]#button-5:checked ~ .slideshow-inner > .slider2 {
  left: -100%;
}

.slideshow-wrap input[type="radio"]#button-6:checked ~ .slideshow-inner > .slider2 {
  left: -200%;
}

label svg {
  display: none;
}

label .arrows {
  display: none;
}

@media (min-width: $tablet-width) {
  .slideshow-wrap label:not(.arrows) {
    position: absolute;
    bottom: 12px;
  }

  .slideshow-wrap label:not(.arrows):active {
    bottom: 12px;
  }

  .slideshow-wrap label[for="button-2"]:not(.arrows) {
    margin-left: -2px;
  }

  .slideshow-wrap input[type="radio"]#button-1:checked ~ label[for="button-1"]:not(.arrows) {
    bottom: 9px;
  }

  .slideshow-wrap input[type="radio"]#button-2:checked ~ label[for="button-2"]:not(.arrows) {
    bottom: 9px;
    margin-left: -6px;
  }

  .slideshow-wrap input[type="radio"]#button-3:checked ~ label[for="button-3"]:not(.arrows) {
    bottom: 9px;
  }

  .slideshow-wrap input[type="radio"]#button-5:checked ~ .slideshow-inner > .slider2 {
    left: 0;
  }
}

@media (min-width: $desktop-width) {
  .slideshow-wrap {
    height: 223px;
    padding: 0;
  }

  .slideshow-wrap label:not(.arrows) {
    display: none;
  }

  label svg {
    display: block;
    fill: $c-main-toggle;
  }

  label:hover svg {
    fill: $c-main-toggleOpacity;
  }

  label:active svg {
    fill: $c-main-opacity;
  }

  label.arrows {
    font-size: 25px;
    position: absolute;
    top: 13%;
    display: none;
    opacity: 0.7;
    cursor: pointer;
    z-index: 1000;
  }

  label.arrows:active {
    margin-top: 0;
  }

  input[type="radio"]#button-1:checked ~ .arrows#arrow-2,
  input[type="radio"]#button-2:checked ~ .arrows#arrow-3 {
    right: 0;
    display: block;
  }

  input[type="radio"]#button-2:checked ~ .arrows#arrow-1,
  input[type="radio"]#button-3:checked ~ .arrows#arrow-2 {
    left: -55px;
    display: block;
    transform: scaleX(-1);
  }

  input[type="radio"]#button-2:checked ~ .arrows#arrow-1 {
    left: 36px;
  }

  input[type="radio"]#button-3:checked ~ .arrows#arrow-2 {
    left: 21px;
  }

  .slideshow-wrap label[for="button-1"] {
    margin-left: -35px;
  }

  .slideshow-wrap label[for="button-2"] {
    margin-left: -20px;
  }
}
