* {
  margin: 0;
  padding: 0;
}

.slideshow-wrap2 {
  display: block;
  min-height: 406px;
  padding: 0;
  min-width: 320px;
  max-width: 940px;
  margin: auto;
  position: relative;
}

.slideshow-wrap2__slideshow-inner {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.slideshow-wrap2__slider {
  list-style: none;
  height: 100%;
  width: 300%;
  overflow: hidden;
  position: relative;
  left: 0;
  display: flex;
  transition: left 0.8s cubic-bezier(0.77, 0, 0.175, 1);
}

.slideshow-wrap2 input[type="radio"] {
  position: absolute;
  left: 50%;
  bottom: 15px;
  z-index: 100;
  visibility: hidden;
}

.slideshow-wrap2 label {
  position: absolute;
  left: 50%;
  z-index: 100;
  width: 6px;
  height: 6px;
  background-color: $c-main-toggle;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.2s;
  bottom: 3px;

  &:hover {
    background-color: $c-main-toggleOpacity;
  }

  &:active {
    bottom: 3px;
    background-color: $c-main-opacity;
  }
}

.slideshow-wrap2 .slideshow-wrap2__btn2--active {
  width: 12px;
  height: 12px;
  background-color: transparent;
  border: 3px solid $c-main;
  bottom: 0;
}

.slideshow-wrap2 .slideshow-wrap2__btn1:checked ~ label[for="btn-1"] {
  width: 12px;
  height: 12px;
  background-color: transparent;
  border: 3px solid $c-main;
  bottom: 0;
  left: 156px;
}

.slideshow-wrap2 .slideshow-wrap2__btn2:checked ~ label[for="btn-2"] {
  width: 12px;
  height: 12px;
  background-color: transparent;
  border: 3px solid $c-main;
  bottom: 0;
  margin-left: -6px;
}

.slideshow-wrap2 .slideshow-wrap2__btn3:checked ~ label[for="btn-3"] {
  width: 12px;
  height: 12px;
  background-color: transparent;
  border: 3px solid $c-main;
  bottom: 0;
  left: 156px;
}

.slideshow-wrap2 label[for="btn-1"] {
  margin-left: -27px;
}

.slideshow-wrap2 label[for="btn-2"] {
  margin-left: -5px;
}

.slideshow-wrap2 label[for="btn-3"]:not(.slideshow-wrap2__arrows) {
  margin-left: 23px;
}

.slideshow-wrap2 .slideshow-wrap2__btn1:checked ~ .slideshow-wrap2__slideshow-inner > .slideshow-wrap2__slider {
  left: 0;
}

.slideshow-wrap2 .slideshow-wrap2__btn2:checked ~ .slideshow-wrap2__slideshow-inner > .slideshow-wrap2__slider {
  left: -100%;
}

.slideshow-wrap2 .slideshow-wrap2__btn3:checked ~ .slideshow-wrap2__slideshow-inner > .slideshow-wrap2__slider {
  left: -200%;
}

label svg {
  display: none;
}

@media (min-width: $tablet-width) {
  .slideshow-wrap2 {
    min-height: 285px;
  }

  .slideshow-wrap2 label {
    position: absolute;
    bottom: 12px;

    &:active {
      bottom: 12px;
    }
  }

  .slideshow-wrap2 label[for="btn-2"] {
    margin-left: -2px;
  }

  .slideshow-wrap2 .slideshow-wrap2__btn1:checked ~ label[for="btn-1"] {
    bottom: 9px;
  }

  .slideshow-wrap2 .slideshow-wrap2__btn2:checked ~ label[for="btn-2"] {
    bottom: 9px;
    margin-left: -2px;
  }

  .slideshow-wrap2 .slideshow-wrap2__btn3:checked ~ label[for="btn-3"] {
    bottom: 9px;
  }

  .slideshow-wrap2 .slideshow-wrap2__btn2:checked ~ .slideshow-wrap2__slideshow-inner > .slideshow-wrap2__slider {
    left: 0;
  }
}

@media (min-width: $desktop-width) {
  .slideshow-wrap2 {
    height: 100%;
    padding: 0;
    padding-bottom: 94px;
  }

  .slideshow-wrap2 label {
    display: none;
  }
}

@media (min-width: $mobile-width-only) {
  .slideshow-wrap2__slider {
    width: 100%;
  }
}
