.slider {
  overflow-x: auto;
}

.slider__toggles {
  margin: 0 auto;
  padding: 0;

  display: flex;
  width: 60px;
  justify-content: space-between;
  align-items: center;
}

.slider__toggle {
  margin-right: 3px;
  padding: 0;
  width: 6px;
  height: 6px;
  background-color: $c-main-toggle;
  border: 3px solid $c-main-toggle;
  border-radius: 50%;
  cursor: pointer;

  &--current {
    width: 12px;
    height: 12px;
    background-color: transparent;
    border: 3px solid $c-main;
  }
}

@media (min-width: $desktop-width) {
  .slider__toggles {
    display: none;
  }
}
