*,
*::before,
*::after {
  box-sizing: border-box;
}

.tabs {
  font-size: 0;
  margin-left: auto;
  margin-right: auto;
}

.tabs > input[type="radio"] {
  // display: none;
}

.tabs > div {
  display: none;
}

.tabs__tab-btn-2:checked ~ .tabs__content--2,
.tabs__tab-btn-1:checked ~ .tabs__content--1,
.tabs__tab-btn-3:checked ~ .tabs__content--3 {
  display: block;
}

.tabs label {
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  padding: 2px 17px;
  font-size: 16px;
  line-height: 1.5;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
  cursor: pointer;
  position: relative;
  top: 1px;
}

.tabs > input[type="radio"] + label:focus {
  outline: 2px solid $base-pink;
}

.tabs svg {
  display: block;
}

.tabs > input[type="radio"]:checked + label svg {
  fill: $base-pink;
}

.tabs__tab-btn-1:focus + label,
.tabs__tab-btn-2:focus + label,
.tabs__tab-btn-3:focus + label {
  outline: 2px solid $base-pink;
}

@media (min-width: $tablet-width) {
  .tabs > div {
    display: block;
    position: relative;
    top: 0;
    left: -15px;
  }

  .tabs > input[type="radio"] {
    display: none;
  }

  .tabs label {
    position: relative;
    top: -7px;
    left: -4px;
    padding: 2px 22px;

    &:nth-child(1) {
      grid-area: lb1;
    }

    &:nth-child(2) {
      grid-area: lb2;
    }

    &:nth-child(3) {
      grid-area: lb3;
    }
  }

  .tabs__content {
    &--1 {
      grid-area: cnt1;
    }

    &--2 {
      grid-area: cnt2;
    }

    &--3 {
      grid-area: cnt3;
    }

    &--1 .upload__form-range::-webkit-slider-thumb {
      margin-left: 52px;
    }

    &--1 .upload__form-range::-moz-range-thumb {
      margin-left: 52px;
    }

    &--1::after,
    &--2::after {
      content: "";
      display: block;
      position: absolute;
      top: 42px;
      right: -15px;
      width: 132%;
      height: 1px;
      background-color: $c-main-opacity;
    }

    &--2 .upload__form-range::-webkit-slider-thumb {
      margin-left: -70px;
    }

    &--2 .upload__form-range::-moz-range-thumb {
      margin-left: -70px;
    }

    &--3 .upload__form-range::-webkit-slider-thumb {
      margin-left: 0;
    }

    &--3 .upload__form-range::-moz-range-thumb {
      margin-left: 0;
    }
  }
}

@media (min-width: $desktop-width) {
  .tabs__content {
    &--3 .upload__form-range {
      margin-top: -11px;
    }

    &--1 .upload__form-range::-webkit-slider-thumb {
      margin-left: -68px;
    }

    &--1 .upload__form-range::-moz-range-thumb {
      margin-left: -68px;
    }

    &--2 .upload__form-range::-webkit-slider-thumb {
      margin-left: 110px;
    }

    &--2 .upload__form-range::-moz-range-thumb {
      margin-left: 110px;
    }

    &--1::after,
    &--2::after {
      position: absolute;
      right: -5px;
      width: 114%;
    }

    &--3 .upload__form-range::-webkit-slider-thumb {
      margin-left: 25px;
    }

    &--3 .upload__form-range::-moz-range-thumb {
      margin-left: 25px;
    }
  }
}
