*,
*::before,
*::after {
  box-sizing: border-box;
}

.tabs {
  font-size: 0;
  margin-left: auto;
  margin-right: auto;
}

.tabs > input[type="radio"] {
  display: none;
}

.tabs > div {
  display: none;
}

.tab-btn-1:checked ~ .tab__content--1,
.tab-btn-2:checked ~ .tab__content--2,
.tab-btn-3:checked ~ .tab__content--3 {
  display: block;
}

.tabs > label {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  padding: 2px 17px;
  font-size: 16px;
  line-height: 1.5;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
  cursor: pointer;
  position: relative;
  top: 1px;
}

// .upload__filter:focus:not(:checked) + label::before {
//   border-color: $base-pink;
// }

.tabs > input[type="radio"] + label:focus {
  outline: 2px solid $base-pink;
}

.tabs svg {
  display: block;
}

.tabs > input[type="radio"]:checked + label svg {
  fill: $base-pink;
}

@media (min-width: $tablet-width) {
  .tabs > div {
    display: block;
    position: relative;
    top: 0;
    left: -15px;
  }

  .tabs label:nth-child(1) {
    grid-area: lb1;
    position: relative;
    top: -7px;
  }

  .tabs label:nth-child(2) {
    grid-area: lb2;
  }

  .tabs label:nth-child(3) {
    grid-area: lb3;
  }

  .tab__content--1 {
    grid-area: cnt1;
  }

  .tab__content--2 {
    grid-area: cnt2;
  }

  .tab__content--3 {
    grid-area: cnt3;
  }

  .tabs label {
    position: relative;
    top: -7px;
    left: 3px;
  }

  .tab__content--1::after,
  .tab__content--2::after {
    content: "";
    display: block;
    position: absolute;
    top: 43px;
    right: -15px;
    width: 132%;
    height: 1px;
    background-color: $c-main-opacity;
  }

  .tab__content--1 .upload__form-range::-webkit-slider-thumb {
    margin-left: 52px;
  }

  .tab__content--1 .upload__form-range::-moz-range-thumb {
    margin-left: 52px;
  }

  .tab__content--2 .upload__form-range::-webkit-slider-thumb {
    margin-left: -70px;
  }

  .tab__content--2 .upload__form-range::-moz-range-thumb {
    margin-left: -70px;
  }

  .tab__content--3 .upload__form-range::-webkit-slider-thumb {
    margin-left: 0;
  }

  .tab__content--3 .upload__form-range::-moz-range-thumb {
    margin-left: 0;
  }
}

@media (min-width: $desktop-width) {
  .tab__content--3 .upload__form-range {
    margin-top: -11px;
    margin-left: -2px;
  }

  .tab__content--1 .upload__form-range::-webkit-slider-thumb {
    margin-left: -68px;
  }

  .tab__content--1 .upload__form-range::-moz-range-thumb {
    margin-left: -68px;
  }

  .tab__content--2 .upload__form-range::-webkit-slider-thumb {
    margin-left: 110px;
  }

  .tab__content--2 .upload__form-range::-moz-range-thumb {
    margin-left: 110px;
  }

  .tab__content--3 .upload__form-range::-webkit-slider-thumb {
    margin-left: 25px;
  }

  .tab__content--3 .upload__form-range::-moz-range-thumb {
    margin-left: 25px;
  }
}
