.timer {
  display: none;
  padding: 50px 0 95px;
}

.timer__wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.timer__svg {
  width: 238px;
  height: 276px;
  fill: $special-grey-timer;
}

.timer__pic {
  position: relative;

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 57px;
    left: 18px;
    width: 202px;
    height: 202px;
    border: 16px solid $base-pink;
    border-radius: 50%;
  }

  &::after {
    content: "24";
    display: block;
    position: absolute;
    top: 75px;
    left: 65px;
    font-family: $ff-main;
    font-size: 96px;
    line-height: 163px;
    font-weight: bold;
    color: $base-pink;
  }
}

.timer__title {
  margin-top: 45px;
  margin-bottom: 10px;
  font-size: 30px;
  line-height: 36px;
  text-align: left;
}

.timer__text {
  margin: 0;
  margin-bottom: 10px;
  font-family: $ff-main;
  font-size: $fz-main;
  font-weight: 400;
  line-height: 24px;
  color: $c-main;
}

.timer__more {
  text-decoration: underline;
  color: $base-pink;
}

@media (min-width: $tablet-width) {
  .timer {
    display: block;
    padding: 50px 0 95px;
  }

  .timer__text br:nth-child(2) {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .timer {
    padding-top: 24px;
    padding-bottom: 60px;
    background-color: $grey-background;
  }

  .timer__wrap {
    display: grid;
    grid-template-columns: min-content 530px;
    gap: 72px;
  }

  .timer__svg {
    width: 298px;
    height: 345px;
  }

  .timer__pic {
    position: relative;

    &::before {
      content: "";
      top: 72px;
      left: 24px;
      width: 253px;
      height: 252px;
      border-width: 18px;
    }

    &::after {
      content: "24";
      display: block;
      position: absolute;
      top: 112px;
      left: 81px;
      font-size: 120px;
      line-height: 163px;
    }
  }

  .timer__title {
    margin-top: 96px;
    margin-bottom: 25px;
    font-size: 30px;
    line-height: 30px;
  }

  .timer__title br {
    display: none;
  }

  .timer__text {
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 30px;
  }

  .timer__text br {
    display: none;
  }

  .timer__text br:nth-child(2) {
    display: block;
  }
}
