.upload {
  margin-bottom: 40px;
  padding-top: 19px;
  background-color: $grey-background;
}

.upload__box {
  display: flex;
  justify-content: center;
}

.upload__box:first-child {
  padding-bottom: 40px;
}

.upload__box-img {
  width: 100%;
}

.upload__img {
  max-width: 100%;
  margin: 0 auto;
}

.upload__wrap {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 66px;
  padding-right: 15px;
}

.upload__box-filter::after {
  content: "";
  display: block;
  position: absolute;
  top: 121px;
  right: 0;
  width: 100%;
  height: 1px;
  background-color: $c-main-opacity;
}

.upload__box-filter:not(:last-child) {
  margin-right: 33px;
}

.upload__filter {
  border: none;
  padding: 0;
}

.upload__box-filter:nth-child(2) .upload__filter {
  padding-right: 6px;
  padding-top: 2px;
}

.upload__filter-svg {
  fill: $c-main-toggle;

  &:hover {
    fill: $c-main-opacityIcon;
  }

  &:active {
    fill: $base-pink;
  }
}

.upload__filter-svg--active {
  fill: $base-pink;
}

.upload__form-range {
  width: 240px;
  position: absolute;
  top: 76px;
  right: 40px;
  appearance: none;
  outline: none;
  overflow: hidden;
  height: 20px;

  background-color: $grey-background;

  &::-webkit-slider-runnable-track {
    height: 2px;
    background-color: $c-main;
  }

  &::-moz-range-track {
    height: 2px;
    background-color: $c-main;
  }

  &::-webkit-slider-thumb {
    appearance: none;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 2px solid $base-pink;
    background-color: $basic-white;
    margin-top: -5px;
    margin-left: 80px;

    &:active {
      background-color: $base-pink;
    }
  }

  &::-moz-range-thumb {
    appearance: none;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 2px solid $base-pink;
    background-color: $basic-white;
    margin-top: -6px;
    margin-left: 80px;

    &:active {
      background-color: $base-pink;
    }
  }
}

.upload__form-range--none {
  display: none;
}

.upload__box:last-child {
  padding-bottom: 30px;
}

.upload__box-btn {
  min-width: 280px;
  margin-top: 37px;
  margin-bottom: 11px;
  margin-left: 0;
  border-color: $base-pink;
  color: $base-pink;

  &:hover {
    background-color: $base-pink;
    color: $basic-white;
  }

  &:active {
    background-color: $base-pink;
    color: $basic-white-opacity;
  }
}

.upload__box-btn--disabled {
  margin-top: 0;
  border-color: $c-main-opacity;
  color: $c-main-opacity;

  &:hover {
    background-color: transparent;
    border-color: $c-main-toggle;
    color: $c-main-toggle;
  }

  &:active {
    background-color: $c-main;
    color: $basic-white;
    opacity: 0.3;
  }
}

.upload__box-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: $tablet-width) {
  .upload {
    margin-bottom: 36px;
    padding-top: 57px;
  }

  .upload__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 18px;
  }

  .upload__box:last-child {
    padding-bottom: 29px;
  }

  .upload__box:last-child .container {
    padding-right: 12px;
  }

  .upload__img {
    width: 100%;
  }

  .upload__wrap {
    display: flex;
    flex-direction: column;
    padding-bottom: 24px;
    padding-right: 0;
  }

  .upload__box-filter {
    min-width: 280px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;

    &:nth-child(2) {
      margin-bottom: 28px;
    }

    &:not(:last-child) {
      margin-right: 0;
    }

    &::after {
      width: 90%;
      right: 0;
    }

    &:nth-child(1)::after {
      top: 55px;
    }

    &:nth-child(2)::after {
      top: 129px;
    }

    &:nth-child(3)::after {
      top: 199px;
    }
  }

  .upload__filter {
    display: block;
    margin-left: 7px;
    margin-top: -3px;
  }

  .upload__filter--margin {
    margin-left: 15px;
  }

  .upload__form-range {
    position: relative;
    top: -3px;
    right: 7px;
    width: 202px;
  }

  .upload__box-filter:nth-child(1) .upload__form-range::-webkit-slider-thumb {
    margin-left: 50px;
  }

  .upload__box-filter:nth-child(2) .upload__form-range::-webkit-slider-thumb {
    margin-left: -70px;
  }

  .upload__box-filter:nth-child(3) .upload__form-range::-webkit-slider-thumb {
    margin-left: 0;
  }

  .upload__form-range--none {
    display: block;
  }

  .upload__filter-svg {
    width: calc(100% / 2);
    height: calc(height / 2);
    fill: #d22856;
  }

  .upload__filter svg {
    fill: #d22856;
  }

  .upload__box-btn {
    min-width: 260px;
    margin-left: 10px;
    margin-bottom: 24px;
  }
}

@media (min-width: $desktop-width) {
  .upload {
    margin: 0 130px 98px;
  }

  .upload__inner {
    display: grid;
    grid-template-columns: 410px 1fr;
    gap: 20px;
  }

  .upload__box:last-child {
    display: flex;
    justify-content: flex-start;
    padding-bottom: 33px;
  }

  .upload__box-img {
    margin-right: 49px;
    margin-left: 60px;
  }

  .upload__wrap {
    padding-bottom: 138px;
  }

  .upload__box-filter {
    min-width: 410px;
    margin-left: 4px;
  }

  .upload__filter {
    margin-left: 0;
    margin-top: -3px;
  }

  .upload__filter--margin {
    margin-left: 10px;
  }

  .upload__box-filter::after {
    width: 93%;
    right: 12px;
  }

  .upload__filter-svg {
    width: 100%;
  }

  .upload__form-range {
    width: 288px;
    right: 28px;
  }

  .upload__box-filter:nth-child(1) .upload__form-range::-webkit-slider-thumb {
    margin-left: -68px;
  }

  .upload__box-filter:nth-child(2) .upload__form-range::-webkit-slider-thumb {
    margin-left: 110px;
  }

  .upload__box-filter:nth-child(3) .upload__form-range::-webkit-slider-thumb {
    margin-left: 23px;
  }

  .upload__box-inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .upload__box-btn {
    min-width: 182px;
    margin-top: 0;
    margin-left: 0;
  }

  .upload__box-btn:first-child {
    margin-right: 45px;
  }
}
