.page__body {
  padding: 0;
  position: relative;
  font-size: $fz-main;
  color: $c-main;
  font-family: $ff-main;
  line-height: 24px;
  font-weight: 400;
  background-color: $basic-white;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

.container {
  max-width: 980px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.btn {
  margin: 0;
  padding: 16px 10px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  border: 3px solid $basic-white;
  border-radius: 30px;

  font-family: $ff-main;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: $basic-white;
}

.btn-2 {
  min-width: 280px;
  margin-bottom: 35px;
  padding: 14px 20px;
  border: 2px solid $special-green-btn;
  border-radius: 1px;
  line-height: 30px;
  text-transform: uppercase;
  background-color: $special-green-btn;

  &:hover {
    background-color: $special-darkgreen-btn;
    border-color: $special-darkgreen-btn;
  }

  &:active {
    background-color: $special-darkgreen-btn; 
    border-color: $special-darkgreen-btn;
    color: $basic-white-opacity;
  }

  &:disabled {
    background-color: $special-grey-border;
    border-color: $special-grey-border;
  }
}

.title-1 {
  font-family: $ff-main;
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  text-align: center;
  color: $basic-white;
}

.title-2 {
  font-family: $ff-main;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: $basic-black;
}

.title-3 {
  font-family: $ff-main;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: $c-main;
}

.title-4 {
  font-family: $ff-main;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: $base-pink;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .title-1 {
    font-size: 40px;
    line-height: 54px;
  }
}

@media (min-width: $desktop-width) {
  .title-1 {
    font-size: 50px;
    line-height: 68px;
  }
}
