///////////////////////////////////////////// font-family
$ff-main: "Open Sans", "Arial", sans-serif;

///////////////////////////////////////////// font-size
$fz-main: 14px;

//////////////////////////////////////////// colors
$c-main: #283645;
$dark-grey: #1d2631;
$basic-black: #000000;
$basic-black-opacity: rgba(0, 0, 0, 0.3);
$basic-white: #ffffff;
$special-grey: #636e79;
$special-white: rgba(255, 255, 255, 0.15);
$grey-background: #f2f2f2;
$base-pink: #d22856;
