///////////////////////////////////////////// font-family
$ff-main: "Open Sans", "Arial", sans-serif;

///////////////////////////////////////////// font-size
$fz-main: 14px;

//////////////////////////////////////////// colors
$c-main: #283645;
$c-main-opacity: rgba(40, 54, 69, 0.1);
$c-main-toggle: rgba(40, 54, 69, 0.3);
$c-main-opacityIcon: rgba(40, 54, 69, 0.5);
$c-main-toggleOpacity: rgba(40, 54, 69, 0.6);
$dark-grey: #1d2631;
$basic-black: #000000;
$basic-black-opacity: rgba(0, 0, 0, 0.3);
$basic-white: #ffffff;
$basic-white-opacity: rgba(156, 102, 102, 0.3);
$special-grey: #636e79;
$special-white: rgba(255, 255, 255, 0.15);
$grey-background: #f2f2f2;
$base-pink: #d22856;
$base-pink-opacity: rgba(210, 40, 86, 0.3);
$base-green: #3dc644;
$base-red: #f25b26;
$special-grey-border: #e5e5e5;
$special-green-btn: #2aab6d;
$special-darkgreen-btn: #1c9b5e;
$special-grey-timer: #dedede;
$special-box-shadow: rgba(0, 1, 1, 0.15);
$special-color-quotes: #efefef;

$desktop-width: 1200px;
$tablet-width: 660px;
$mobile-width-only: 659px;
