///////////////////////////////////////////// font-family
$ff-main: "Open Sans", "Arial", sans-serif;

///////////////////////////////////////////// font-size
$fz-main: 14px;

//////////////////////////////////////////// colors
$c-main: #283645;
$c-main-opacity: rgba(40, 54, 69, 0.1);
$c-main-toggle: rgba(40, 54, 69, 0.3);
$dark-grey: #1d2631;
$basic-black: #000000;
$basic-black-opacity: rgba(0, 0, 0, 0.3);
$basic-white: #ffffff;
$special-grey: #636e79;
$special-white: rgba(255, 255, 255, 0.15);
$grey-background: #f2f2f2;
$base-pink: #d22856;
$base-green: #3dc644;
$base-red: #f25b26;
$special-grey-border: #e5e5e5;
$special-green-btn: #2aab6d;

$desktop-width: 1200px;
$tablet-width: 660px;
$mobile-width-only: 659px;
