.main-nav {
  width: 100%;
  position: relative;
  display: none;
}

.nav-list {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: $c-main;
  text-align: center;
}

.nav-list__item {
  width: 100%;
  border-top: 1px solid $special-white;
  border-bottom: 1px solid $basic-black;
}

.nav-list__link {
  position: relative;
  display: block;
  padding: 17px 20px;
  padding-bottom: 13px;
  font-family: $ff-main;
  font-size: 18px;
  line-height: 32px;
  font-style: normal;
  font-weight: 700;
  color: $basic-white;
  text-transform: uppercase;
  text-decoration: none;
}

.main-nav--js {
  display: block;
}

@media (max-width: $mobile-width-only) {
  .main-nav--closed .nav-list__item {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .nav-list__item--bcground {
    height: 110px;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    display: block;
  }

  .nav-list {
    width: 670px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: transparent;
  }

  .nav-list__item {
    width: auto;
    border: none;
  }

  .nav-list__link {
    margin-left: 50px;
    padding: 10px 0;
    font-weight: 400;
    line-height: 18px;
    text-transform: none;
  }

  .nav-list__link--active {
    border-bottom: 2px solid $basic-white;
  }
}
