.page-header {
  height: 60px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: $basic-black-opacity;
}

.page-header__logo {
  padding-top: 18px;
  padding-left: 20px;
}

.page-header__logo-tablet,
.page-header__logo-desktop {
  display: none;
}

@media (min-width: $tablet-width) {
  .page-header {
    height: 110px;
  }

  .page-header__logo {
    padding-top: 34px;
    padding-left: 20px;
    padding-bottom: 20px;
  }

  .page-header__logo-mobile {
    display: none;
  }

  .page-header__logo-tablet {
    display: block;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    padding: 0 130px;
  }

  .page-header__toggle {
    display: none;
  }

  .page-header__logo-mobile {
    display: none;
  }

  .page-header__logo-tablet {
    display: none;
  }

  .page-header__logo-desktop {
    display: block;
  }
}
