.page-header {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: $basic-black-opacity;
}

.page-header .container {
  padding: 0;
}

.page-header__wrap {
  width: 100%;
  height: 60px;
  padding-left: 20px;
  padding-right: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-header__logo img {
  width: 74px;
  height: 23px;
}

.page-header__toggle {
  position: relative;
  display: block;
  width: 70px;
  height: 50px;
  background-color: transparent;
  cursor: pointer;
  border: none;

  &:hover,
  &:active {
    background-color: transparent;
  }
}

.page-header__toggle--opened {
  &::before {
    content: "";
    position: absolute;
    top: 12px;
    left: 10px;
    width: 50px;
    height: 4px;
    background-color: $basic-white;
    box-shadow: 0 10px 0 0 $basic-white, 0 20px 0 0 $basic-white;
    margin-right: 10px;
  }
}

.page-header__toggle--closed {
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 20px;
    left: 23px;
    width: 31px;
    height: 3px;
    background-color: $basic-white;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:active::before,
  &:active::after {
    background-color: fade($basic-white, 30%);
  }
}

.page-header__wrap--active {
  background-color: $c-main;
  border-top: 1px solid $special-white;
  border-bottom: 1px solid $basic-black;
}

@media (min-width: $tablet-width) {
  .page-header__wrap {
    height: 110px;
    padding-right: 0;
  }

  .page-header .container {
    padding: 0;
  }

  .page-header__logo {
    margin-top: -15px;
  }

  .page-header__logo img {
    display: block;
    width: 145px;
    height: 40px;
  }

  .page-header__toggle {
    margin-top: 5px;
  }
}

@media (min-width: $desktop-width) {
  .page-header__wrap {
    background-color: transparent;
    padding: 0;
  }

  .page-header .container {
    padding: 0 20px;
  }

  .page-header__logo img {
    display: block;
    width: 147px;
    height: 40px;
  }

  .page-header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
  }

  .page-header__toggle {
    display: none;
  }
}
