.copyright {
  min-width: 130px;
  margin-bottom: 39px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright__text {
  display: inline-block;

  font-family: $ff-main;
  font-size: $fz-main;
  line-height: 18px;
  font-weight: normal;
  color: $c-main;
}

.copyright__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright__svg {
  width: 41px;
  height: 41px;
  fill: $base-pink;
}
