.copyright {
  min-width: 153px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.copyright__text {
  margin-left: 7px;
  display: inline-block;

  font-family: $ff-main;
  font-size: $fz-main;
  line-height: 18px;
  font-weight: normal;
  color: $c-main;
}

.copyright__link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright__svg {
  width: 41px;
  height: 41px;
  fill: $base-pink;
}
