.page-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}
.page-footer__wrapper {
  padding-top: 41px;
  margin: 0 auto;
}

.page-footer__logo {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 31px;
  padding-left: 15px;
}
