.page-footer {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 31px;
  padding-bottom: 40px;
}

.page-footer__logo {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 31px;
}
