.page-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-footer__logo {
  display: flex;
  justify-content: center;
  margin-bottom: 37px;
}

.page-footer__logo img {
  height: 41px;
}

@media (min-width: $tablet-width) {
  .page-footer__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .page-footer__logo {
    display: flex;
    justify-content: flex-start;
  }
}

@media (min-width: $desktop-width) {
  .page-footer .container {
    max-width: 1200px;
  }

  .page-footer__logo {
    padding-right: 20px;
    justify-content: center;
  }
}
