.social {
  margin-bottom: 37px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social__list {
  min-width: 180px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social__link {
  width: 53px;
  height: 53px;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: $basic-white;
  border: 3px solid $c-main-opacity;
  border-radius: 50%;

  &:hover {
    border-color: $c-main;
  }

  &:active {
    border-color: $c-main;
    opacity: 0.1;
  }
}

.social__svg {
  fill: $base-pink;
  display: block;
}

@media (min-width: $desktop-width) {
  .social__list {
    min-width: 174px;
  }
}
