.social {
  margin-bottom: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social__list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social__item {
  margin-right: 4px;
}

.social__link {
  width: 53px;
  height: 53px;
  display: flex;
  justify-content: center;
  align-items: center;

  background: #FFFFFF;
  border: 3px solid rgba(40, 54, 69, 0.1);
  border-radius: 50%;
}

.social__svg {
  fill: $base-pink;
}
