.social {
  margin-bottom: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social__item {
  margin-left: 5px;
}

.social__list {
  min-width: 180px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social__link {
  width: 53px;
  height: 53px;
  display: flex;
  justify-content: center;
  align-items: center;

  background: $basic-white;
  border: 3px solid $c-main-opacity;
  border-radius: 50%;

  &:hover {
    border-color: $c-main;
  }

  &:active {
    opacity: 0.1;
  }
}

.social__svg {
  fill: $base-pink;
  display: block;
}
